flask==1.1.2
flask_cors==3.0.8
flask_session==0.3.2
redis==3.5.2
gunicorn==20.0.4
flask-sqlalchemy==2.4.2
Flask-Migrate==2.5.3
flask-script==2.0.6
pymysql==0.9.3
paramiko==2.7.1
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-ecs==4.18.0
jaeger-client==4.3.0
opentracing==2.3.0
opentracing-instrumentation==3.2.1
requests==2.20.0
simplejson==3.17.0
kubernetes==10.0.1
pyyaml=5.3